{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    {{ parent()}}
    {% stylesheets 'bundles/redstarsecurity/css/*' %}
      <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
{% endblock %}
{% block body %}

    <div class="login">
        <div class="header">
        <div>Demo<span>Platform</span></div>
        </div>
        
        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('redstar_security_login_check') }}" method="post">
            <input type="text" id="username" placeholder="username" name="_username" value="{{ last_username }}" />
            <input type="password" id="password" placeholder="password" name="_password" />
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
            #}
            <input type="hidden" name="_target_path" value="/" />
            <button type="submit" >Login</button>
        </form>
            
            <a href="{{ path('redstar_user_forgot_password')}}">Forgot Password?</a>
    </div>
{% endblock %}